.vbox-style {
    -fx-padding: 50.0 0.0 50.0 0.0; /* top right bottom left */
    -fx-spacing: 50.0;
    -fx-effect: innershadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 2.0);
}

.grid-inactive {
    -fx-border-color: gray;
     -fx-border-width: 3.0px;
    -fx-border-style: solid;
    -fx-padding: 5.0;
    -fx-border-radius: 5.0px; 
    -fx-border-insets: -1.0 5.0 0.0 -5.0 /* top right bottom left */
}

.grid-blue {
    -fx-border-color: blue;
    -fx-border-width: 3.0px;
    -fx-border-style: solid;
    -fx-padding: 5.0;
    -fx-border-radius: 5.0px; 
    -fx-border-insets: -1.0 5.0 0.0 -5.0 /* top right bottom left */
}

.grid-green {
    -fx-border-color: green;
    -fx-border-width: 3.0px;
    -fx-border-style: solid;
    -fx-padding: 5.0;
    -fx-border-radius: 5.0px; 
    -fx-border-insets: -1.0 5.0 0.0 -5.0 /* top right bottom left */
}

.dialog-pane {
    -fx-background-color: #CCBCA3; /* Transparent grey background */
}

.showAlertButton {
    -fx-background-color: #f4f4f4; /* Light gray background for the button */
    -fx-border-color: black; /* Black border color */
    -fx-border-width: 10px; /* Border width */
}

.showAlertButton:hover {
    -fx-background-color: #e2e2e2; 
}


.dialog-pane .header-panel .label {
    -fx-graphic: null; 
}


.dialog-pane .header-panel .label {
    -fx-text-fill: transparent; 
    -fx-min-height: 0; 
    -fx-pref-height: 0;
    -fx-max-height: 0;
}



.column-header {
    -fx-background-color: #CCBCA3; /* Light grey background */
    -fx-padding: 1px; /* Padding around the text */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-border-color: #ccc; /* Light grey border for some visual separation */
    -fx-border-width: 0px; /* Border width */
    -fx-border-radius: 5px; /* Match the background radius */
    -fx-alignment: center; /* Center the text within the StackPane */
}

.column-header > Text {
    -fx-fill: #070000; /* Dark grey text color */
    -fx-font-size: 12px; /* Font size */ 
    -fx-text-alignment: center;
    
}


.grid-yellow {
    -fx-border-color: yellow;
    -fx-border-width: 3.0px;
    -fx-border-style: solid;
    -fx-padding: 5.0;
    -fx-border-radius: 5.0px; 
    -fx-border-insets: -1.0 5.0 0.0 -5.0 /* top right bottom left */ 
}

.grid-pink {
    -fx-border-color: pink;
    -fx-border-width: 3.0px;
    -fx-border-style: solid;
    -fx-padding: 5.0;
    -fx-border-radius: 5.0px; 
    -fx-border-insets: -1.0 5.0 0.0 -5.0 /* top right bottom left */
}

.spelButtonSkip {
    -fx-background-color: #CCBCA3;
    -fx-text-fill: #070000;
    -fx-font-size: 14.0px;
    -fx-background-radius: 10.0;
    -fx-padding: 10.0 35.0 10.0 35.0;
}

.spelButtonSkip:hover {
    -fx-background-color: #9D917D;

}


.spelButtonKiesEnVolgende {
    -fx-background-color: #CCBCA3;
    -fx-text-fill: #070000;
    -fx-font-size: 14.0px;
    -fx-background-radius: 10.0;
    -fx-padding: 10.0 55.0 10.0 55.0;
    -fx-min-width: 200.0px;
}

.spelButtonKiesEnVolgende:hover {
    -fx-background-color: #9D917D;
   
}

/* Style for the 'Close' button */
.spelButtonAfsluiten {
    -fx-background-color: #CCBCA3;
    -fx-text-fill: #070000;
    -fx-font-size: 14.0px;
    -fx-background-radius: 10.0;
    -fx-padding: 10.0 53.0 10.0 53.0;
}

.spelButtonAfsluiten:hover {
    -fx-background-color: #9D917D;
 
}

.welkomschermBtn {
    -fx-background-color: #CCBCA3;
    -fx-text-fill: #070000;
    -fx-font-size: 28.0px;
    -fx-background-radius: 10.0;
    -fx-padding: 10.0 20.0 10.0 20.0;
   

}

.welkomschermBtn:hover {
 -fx-background-color: #9D917D;
}
   

.welkomschermLanguageBtn {
    -fx-background-color: #CCBCA3;
    -fx-text-fill: #070000;
    -fx-font-size: 14.0px;
    -fx-background-radius: 10.0;

}

.welkomschermLanguageBtn:hover {
 -fx-background-color: #9D917D;
}
   