.vbox-style {
    -fx-padding: 50 0 50 0; /* top right bottom left */
    -fx-spacing: 20;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.0, 0, 2);
}

.grid-blue {
    -fx-border-color: blue;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-padding: 5;
    -fx-border-radius: 5px; 
    -fx-border-insets: -1 5 0 -5 /* top right bottom left */
}

.grid-green {
    -fx-border-color: green;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-padding: 5;
    -fx-border-radius: 5px; 
    -fx-border-insets: -1 5 0 -5 /* top right bottom left */
}

.grid-yellow {
    -fx-border-color: yellow;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-padding: 5;
    -fx-border-radius: 5px; 
    -fx-border-insets: -1 5 0 -5 /* top right bottom left */ 
}

.grid-pink {
    -fx-border-color: pink;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-padding: 5;
    -fx-border-radius: 5px; 
    -fx-border-insets: -1 5 0 -5 /* top right bottom left */
}